.bottom-panel {
    margin-top: 20px;
  }
  
  .bottom-panel .new-post-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }
.botAvatar{
  max-width: 150px;
  max-height: 80px;
  padding: 10px 30px 10px 7px;
  border-radius: 140px 140px 140px 140px;
}

.valueText{
  width: 400px;
}

.MessageData{
  margin-top: 50px;
}

.heart{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: red;
  transition: 0.3s all;
  transform: translateX(30px);
  background-color: blue;
  opacity: 1;
}