/* TITLE */
.title{
  border: 2px solid;
  scroll-behavior: unset;
  max-height: 360px;
  border-radius: 3px;
  overflow: scroll;
}
.TitleContainerFlex{
  display: flex;
  margin: 40px 10px 5px 5px;
}
.TitleContainerFlexCopied2{
  display: flex;
  justify-content: flex-end;
  margin: 40px 10px 5px 5px;
}
.TitleMessages{
  width: 500px;
  border: 1px solid;
  background-color: #E6E6E6;
  display: flex;
  line-height: 35px;
  transition: 0.5s all;
  cursor: pointer;
  margin-left: 2px;
}
.bottom-panel {
    margin-top: 20px;
  }
  .bottom-panel .new-post-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }
/* TITLE */
/* BLOCK MESSAGE */
.MessageAvatar{
  max-width: 150px;
  max-height: 80px;
  padding: 10px;
  border-radius: 140px 140px 140px 140px;
}
.MessageData{
  margin-bottom: 0px;
  margin-right: 5px;
  display: flex;
  align-items: flex-end;
}
.MessageText{
  margin-top: 20px;
  width: 400px;
  font-size: 15px;
}
.MessageName{
  font-weight: 645;
}
.BeetwenMessages{
  color: blue;
}
.MessageWasEdited{
  color:#9C9C9C;
}
.MessageWasEditedNone{
  display: none;
}
.whenTrue{
  display: flex;
  flex-direction: column;
}
.WhenTrueHR{
  position: relative;
  width: 880px;
}
.WhenTrueDivText{
  margin-left: 350px;
  margin-top: -36px;
  max-width: fit-content;
  z-index: 1;
}
.WhenTrueText{
  color: white;
  background-color: black;
  border-radius: 5px;
  border: solid 10px black;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
}
.whenFalse{
  display: none;
}
/* BLOCK MESSAGE */
/* BUTTONS */
.btn-delete{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-image: url("./delete.svg");
  cursor: pointer;
}
.heart{
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: red;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 1;
  background-image: url("./heart.png");
}
.heartcopied2{
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: red;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 1;
  background-image: url("./heart.png");
  margin-right: 35px;
}
.btn-edit{
  width: 30px;
  height: 30px;
  background-image: url("./edit.svg");
  cursor: pointer;
}
.btns-style{
  display: block;
}
.btns-style-btn{
  display: flex;
}
/* BUTTONS */